.galeria-imagenes {
    img {
        max-width: 5rem;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center; //Alinea los elementos en el centro de la pantalla

    background-color: rgba(0, 0, 0, .5);

    picture {
        display: block;
        max-width: 80rem;
    }
}

.btn-cerrar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}