.hero {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}
.no-webp .hero {
    background-image: url('../img/libros.jpg');
}
.webp .hero {
    background-image: url('../img/libros.webp');
}

.promociones {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20rem;
}
.no-webp .promociones {
    background-image: url('../img/marzo.jpg');
}
.webp .promociones {
    background-image: url('../img/marzo.webp');
}

.carrusel {
    max-width: 70rem;
}